<!-- Search start here
<div class="ic-search-area">
<div class="container">
<div class="ic-search-form">
<form action="#">
<input class="form-control" placeholder="Search Here" type="text" name="search">
<button type="submit" class="ic-search-submit"><i class="icofont-search"></i></button>
</form>
</div>
</div>
<div class="ic-search-close">
<i class="icofont-close-line"></i>
</div>
</div>
-->
<!-- Search start here -->

<!-- Preloader start here 
<div class="ic-preloader">
<div class="loading-wrapper">
<div class="ic-preloader-grid">
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
</div>
</div>
</div>--><!-- Preloader end here -->



<!-- Header section start here -->
  <header class="ic-header"> {% for block in section.blocks %}
    {% case block.type %}
      {% when 'header_top_section' %}
      <!-- Header Top -->
      <div class="ic-header-top">
        <div class="container">
          <div class="row">
            <div class="col-12 ic-header-top-inner">
              <div class="ic-header-top-left">
                {% if settings.logo != blank %}
                  <!-- Logo -->
                  <a href="{{shop.url}}" class="ic-logo">
                    <img
                      src="{{ settings.logo | img_url: '1920x' }}"
                      alt="logo"
                      style="width: {{ settings.logo_width }}px;">
                  </a>
                {% else %}
                  <h3 class="mb-0">
                    <a href="{{shop.url}}" class="ic-logo text-dark">{{ shop.name }}</a>
                  </h3>
                {% endif %}
              </div>
              <div class="ic-header-top-right">
                <ul class="ic-header-top-links">
                  <li>
                    <div class="ic-multi-curency">
                        <div class="ic-select-dropdown">
                            <div class="ic-select-inner">
                                <span> {{ shop.money_format | split: '' | first }} {{ shop.currency }}</span>
                                <i class="fa fa-angle-down"></i>
                            </div>
                            <ul class="ic-select-dropdown-menu">
                                {% for currency in shop.enabled_currencies %}
                                    <li id="ic-{{ currency.code | handleize }}"> {{ currency.symbol }} {{ currency.iso_code}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                  </li>
                  <!-- Header Account -->
                  <li>
                    <div class="ic-header-account">
                      <div class="ic-header-account-inner">
                        <i class="icofont icofont-ui-user"></i>
                        {% if block.settings.account_title != blank %}
                          <span>{{ block.settings.account_title }}</span>
                        {% endif %}
                      </div>
                      <ul class="ic-account-dropdown">
                        {% if shop.customer_accounts_enabled %}
                          {% if customer %}
                            <li>
                              <a href="{{ routes.account_url }}">My Account</a>
                            </li>
                            <li>
                              <a href="{{ routes.account_logout_url }}">Logout</a>
                            </li>
                          {% else %}
                            <li>
                              <a href="{{ routes.account_login_url }}">Login</a>
                            </li>
                            <li>
                              <a href="{{ routes.account_register_url }}">Register</a>
                            </li>
                          {% endif %}
                        {% endif %}

                      </ul>
                    </div>
                  </li>
                  <!-- Header Minicart -->
                  <li class="ic-header-minicart d-flex align-items-center">
                    <div class="ic-header-minicart-btn">
                      <svg
                        version="1.1"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px"
                        y="0px"
                        viewBox="0 0 321.2 321.2"
                        style="enable-background:new 0 0 321.2 321.2;"
                        xml:space="preserve">
                        <g>
                          <g><path d="M306.4,313.2l-24-223.6c-0.4-3.6-3.6-6.4-7.2-6.4h-44.4V69.6c0-38.4-31.2-69.6-69.6-69.6c-38.4,0-69.6,31.2-69.6,69.6v13.6H46c-3.6,0-6.8,2.8-7.2,6.4l-24,223.6c-0.4,2,0.4,4,1.6,5.6c1.2,1.6,3.2,2.4,5.2,2.4h278c2,0,4-0.8,5.2-2.4C306,317.2,306.8,315.2,306.4,313.2z M223.6,123.6c3.6,0,6.4,2.8,6.4,6.4c0,3.6-2.8,6.4-6.4,6.4c-3.6,0-6.4-2.8-6.4-6.4C217.2,126.4,220,123.6,223.6,123.6z M106,69.6c0-30.4,24.8-55.2,55.2-55.2c30.4,0,55.2,24.8,55.2,55.2v13.6H106V69.6z M98.8,123.6c3.6,0,6.4,2.8,6.4,6.4c0,3.6-2.8,6.4-6.4,6.4c-3.6,0-6.4-2.8-6.4-6.4C92.4,126.4,95.2,123.6,98.8,123.6z M30,306.4L52.4,97.2h39.2v13.2c-8,2.8-13.6,10.4-13.6,19.2c0,11.2,9.2,20.4,20.4,20.4c11.2,0,20.4-9.2,20.4-20.4c0-8.8-5.6-16.4-13.6-19.2V97.2h110.4v13.2c-8,2.8-13.6,10.4-13.6,19.2c0,11.2,9.2,20.4,20.4,20.4c11.2,0,20.4-9.2,20.4-20.4c0-8.8-5.6-16.4-13.6-19.2V97.2H270l22.4,209.2H30z" /></g>
                        </g>
                      </svg>
                      <span class="ic-miniCart-count">3</span>
                    </div>
                    <div class="ic-minicart">
                      <div class="ic-minicart-top d-flex align-items-center">
                        <div class="ic-minicart-close">
                          <i class="icofont icofont-close"></i>
                          <span>Close</span>
                        </div>
                      </div>
                      <div class="ic-minicart-items">
                        <div class="ic-minicart-item">
                          <div class="ic-product-thumbnail">
                            <a href="shop-single.html">
                              <img src="" alt="bike-thumbnail">
                            </a>
                          </div>
                          <div class="ic-product-content-inner">
                            <h3 class="ic-product-item-title">
                              <a href="shop-single.html">Yamaha YZF - R3 2019</a>
                            </h3>
                            <div class="ic-minicar-item-meta d-flex justify-content-between align-items-center">
                              <h4 class="ic-product-item-price">1 × $4,999</h4>
                              <div class="ic-item-rmv">
                                <i class="icofont-close"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="ic-minicart-item">
                          <div class="ic-product-thumbnail">
                            <a href="shop-single.html">
                              <img src="" alt="bike-thumbnail">
                            </a>
                          </div>
                          <div class="ic-product-content-inner">
                            <h3 class="ic-product-item-title">
                              <a href="shop-single.html">Yamaha YZF - R3 2019</a>
                            </h3>
                            <div class="ic-minicar-item-meta d-flex justify-content-between align-items-center">
                              <h4 class="ic-product-item-price">1 × $4,999</h4>
                              <div class="ic-item-rmv">
                                <i class="icofont icofont-close"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="ic-minicart-item">
                          <div class="ic-product-thumbnail">
                            <a href="shop-single.html">
                              <img src="" alt="bike-thumbnail">
                            </a>
                          </div>
                          <div class="ic-product-content-inner">
                            <h3 class="ic-product-item-title">
                              <a href="shop-single.html">Yamaha YZF - R3 2019</a>
                            </h3>
                            <div class="ic-minicar-item-meta d-flex justify-content-between align-items-center">
                              <h4 class="ic-product-item-price">1 × $4,999</h4>
                              <div class="ic-item-rmv">
                                <i class="icofont icofont-close"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="ic-minicart-subtotal d-flex align-items-center">
                        <div>Subtotal:</div>
                        <div class="ml-auto">$146.00</div>
                      </div>
                      <a href="cart.html" class="ic-btn ic-custom-btn-rvs btn-block">View Cart</a>
                      <a href="checkout.html" class="ic-btn ic-custom-btn-rvs btn-block dark-color">Checkout</a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% when 'header_menu_section' %}
      <!-- Header Bottom -->
      <div class="ic-header-bottom">
        <div class="ic-menu-wrapper">
          <div class="container">
            <div class="d-flex justify-content-between align-items-center">
              <div class="ic-header-bottom-left">
                <div class="ic-nav-icon">
                  <div class="ic-menu-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                  </div>
                </div>
                <!-- Logo -->
                <div class="ic-header-logo ic-header-sticky-logo">
                  {% if settings.sticky_logo != blank %}
                    <!-- Logo -->
                    <a href="{{shop.url}}" class="ic-logo">
                      <img
                        src="{{ settings.sticky_logo | img_url: '1920x' }}"
                        alt="logo"
                        style="width: {{ settings.logo_width }}px;">
                    </a>
                  {% else %}
                    <h3 class="mb-0">
                      <a href="{{shop.url}}" class="ic-logo text-dark">{{ shop.name }}</a>
                    </h3>
                  {% endif %}
                </div>
              </div>
              <!-- Menu -->
              <nav class="ic-primary-menu">
                <div class="ic-menu-area">
                  <div class="ic-main-menu-area">
                    <ul class="ic-main-menu d-flex">
                        {% for link in block.settings.header_menu.links %}
                            {% if link.title == block.settings.mega_menu %}
                                <li class="ic-menu-item ic-has-dropdown ic-has-mega-menu">
                                    <a href="{{ link.url }}">{{ link.title }}</a>
                                    <div class="ic-mega-menu">
                                        <div class="container">
                                            <div class="row">
                                                {% if block.settings.category_menu_check != false %}
                                                    <div class="col-lg-2">
                                                        <div class="nav flex-column">
                                                        {% for item in collections %}
                                                            <a href="{{ item.url }}" class="ic-mega-item ic-has-child {% if forloop.index == 1 %}active{% endif %}">{{ item.title }}</a>
                                                        {% endfor %}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                {% if block.settings.brand_item_check != false %}
                                                    <div class="col-lg-3 col-lg-offset-2">
                                                        <div class="nav flex-column">
                                                            {% for product in collections.all.products %}
                                                                {% for tag in product.tags %}
                                                                    <a href="{{ brand.url }}" class="ic-mega-child-item active">{{ tag }}</a>
                                                                {% endfor %}
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                {% if block.settings.menu_image_check != false %}
                                                    <div class="col-lg-6">
                                                        <div class="ic-menu-product-thumb">
                                                            <img src="{{ block.settings.mega_menu_image | img_url: '1920x' }}" alt="{{ block.settings.mega_menu_image.alt }}">
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                {% elsif link.links != blank and link.title != block.settings.mega_menu %}
                                    <li class="ic-menu-item ic-has-dropdown">
                                        <a href="{{ link.url }}">{{ link.title }}</a>
                                        <ul class="ic-dropdown">
                                            {%- for childlink in link.links -%}
                                                <li>
                                                <a href="{{ childlink.url}}">{{ childlink.title }}</a>
                                                </li>
                                            {%- endfor -%}
                                        </ul>
                                    </li>
                                {% else %}
                                    <li class="ic-menu-item {%  if forloop.index == 1 %} active{% endif %}">
                                        <a href="{{link.url}}">{{ link.title }}</a>
                                    </li>
                            {% endif %}
                        
                        {% endfor %}
                    </ul>
                  </div>
                </div>
              </nav>
              <div class="ic-header-bottom-right d-flex align-items-center">
                <div class="ic-header-search">
                  <div class="ic-header-search-icon">
                    <i class="icofont icofont-search"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Mobile Menu -->
      <div class="ic-mobile-menu-main">
        <div class="ic-mobile-menu">
          <div class="ic-nav-close" title="Close">
            <i class="icofont-close"></i>
          </div>
          <div class="ic-mobile-menu-card">
            {% if settings.logo != blank %}
              <a href="{{ shop.url }}" class="d-block text-center pl-5 pr-5">
                <img
                  src="{{ settings.logo | img_url: '1920x' }}"
                  alt="logo"
                  style="width: {{ settings.logo_width }}px;">
              </a>
            {% else %}
              <h3 class="mb-0 pl-5 pr-5">
                <a href="{{shop.url}}" class="ic-logo text-dark">{{ shop.name }}</a>
              </h3>
            {% endif %}
            <div class="ic-mobile-menu-body">
              <ul class="ic-mobile-menu-list d-flex flex-column">
                <li class="ic-menu-item active">
                  <a href="{{shop.url}}">Home</a>
                </li>
                <li class="ic-menu-item ic-has-dropdown ic-has-mega-menu">
                  <a href="shop.html">Bike</a>
                  <ul class="ic-dropdown">
                    <li>
                      <a href="">Kawasaki</a>
                    </li>
                    <li>
                      <a href="">Bmw</a>
                    </li>
                    <li>
                      <a href="">Yamaha</a>
                    </li>
                    <li>
                      <a href="">Honda</a>
                    </li>
                    <li>
                      <a href="">Ducati</a>
                    </li>
                    <li>
                      <a href="">Harley davidson</a>
                    </li>
                    <li>
                      <a href="">KTM</a>
                    </li>
                    <li>
                      <a href="">Suzuki</a>
                    </li>
                    <li>
                      <a href="">Aprilia</a>
                    </li>
                    <li>
                      <a href="">Triumph</a>
                    </li>
                  </ul>
                </li>
                <li class="ic-menu-item ic-has-dropdown">
                  <a href="#">Shop</a>
                  <ul class="ic-dropdown">
                    <li>
                      <a href="shop.html">Shop Page</a>
                    </li>
                    <li>
                      <a href="shop-left-sidebar.html">Shop Left Sidebar</a>
                    </li>
                    <li>
                      <a href="shop-right-sidebar.html">Shop Right Sidebar</a>
                    </li>
                    <li>
                      <a href="shop-single.html">Shop Single</a>
                    </li>
                  </ul>
                </li>
                <li class="ic-menu-item ic-has-dropdown">
                  <a href="#">Page</a>
                  <ul class="ic-dropdown">
                    <li>
                      <a href="404.html">404 Page</a>
                    </li>
                    <li>
                      <a href="cart.html">Cart Page</a>
                    </li>
                    <li>
                      <a href="wishlist.html">Wishlist Page</a>
                    </li>
                    <li>
                      <a href="checkout.html">Checkout Page</a>
                    </li>
                  </ul>
                </li>
                <li class="ic-menu-item ic-has-dropdown">
                  <a href="#">blog</a>
                  <ul class="ic-dropdown">
                    <li>
                      <a href="blog-1.html">Blog Two Column</a>
                    </li>
                    <li>
                      <a href="blog-2.html">Blog One Column</a>
                    </li>
                    <li>
                      <a href="single.html">Blog Single</a>
                    </li>
                  </ul>
                </li>
                <li class="ic-menu-item">
                  <a href="about.html">About</a>
                </li>
                <li class="ic-menu-item">
                  <a href="contact.html">contact</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  {% else %}

    {% endcase %}
  {% endfor %}

</header>
<!-- Header section end here -->


{% schema %}
  {
    "name": "Header",
    "blocks": [
      {
        "name": "Header Top",
        "type": "header_top_section",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "account_title",
            "label": "Account title"
          }
        ]
      }, {
        "name": "Header Menu",
        "type": "header_menu_section",
        "limit": 1,
        "settings": [
          {
            "type": "link_list",
            "id": "header_menu",
            "label": "Select header menu"
          },
          {
            "type": "text",
            "id": "mega_menu",
            "label": "Mega Menu"
          },
          {
            "type": "checkbox",
            "id": "category_menu_check",
            "label": "Show categories menu",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "brand_item_check",
            "label": "show product brand",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "menu_image_check",
            "label": "Show mega menu image",
            "default": true
          }, 
          {
            "type": "image_picker",
            "id": "mega_menu_image",
            "label": "Mega menu image"
          }
        ]
      }
    ]
  }
{% endschema %}