{% assign section = section.settings %}
<!-- About section start here -->
<section class="ic-about-section ic-padding-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-12">
                <div class="ic-about-image wow fadeInRight" data-wow-delay="0.2s">
                    {% if section.about_image != blank %}
                        <img src="{{ section.about_image | img_url: "1920x" }}" alt="about-thumb">
                    {% else %}
                        {{ 'lifestyle-1' | placeholder_svg_tag: "w-100 h-100"}}
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-12">
                <div class="ic-about-content wow fadeInLeft" data-wow-delay="0.2s">
                    {% if section.about_title != blank %}
                        <h2>{{ section.about_title }}</h2>
                    {% endif %}
                    {% if section.about_content != blank %}
                        <p>{{ section.about_content }}</p>
                    {% endif %}
                    {% if section.about_button_title != blank %}
                        <a href="{{ section.about_button_url }}" class="ic-custom-btn-rvs">{{ section.about_button_title }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About section end here -->




{% schema %}
    {
        "name": "About",
        "settings": [
            {
                "type": "image_picker",
                "id": "about_image",
                "label": "About Image"
            },
            {
                "type": "text",
                "id": "about_title",
                "label": "About Title"
            },
            {
                "type": "richtext",
                "id": "about_content",
                "label": "About Content"
            },
            {
                "type": "text",
                "id": "about_button_title",
                "label": "About Button Title"
            },
            {
                "type": "url",
                "id": "about_button_url",
                "label": "About Button Url"
            }
        ]
    }
{% endschema %}

