{% for block in section.blocks %}
    {% case block.type %}
        {% when 'contact_map' %}
            <!-- Google Map Section Start Here -->
            <div class="ic-gmaps-section">
                <div class="ic-map-area">
                    {% if block.settings.map != blank %}
                        {{ block.settings.map }}
                    {% endif %}
                </div>
            </div>
            <!-- Google Map Section Ending Here -->
    {% endcase %}
{% endfor %}



<!-- Contact section start here -->
<section class="ic-contact-section ic-padding-120">
    <div class="container">
        <div class="row">
            {% for block in section.blocks %}
                {% case block.type %}
                    {% when 'contact_details' %}
                        <div class="col-lg-6 col-md-12">
                            <!-- Contact information -->
                            <div class="ic-contact-information wow fadeInRight" data-wow-delay="0.2s">
                                {% if block.settings.contact_title != blank %}
                                    <h3 class="ic-contact-info-title">{{ block.settings.contact_title }}</h3>
                                {% endif %}
            
                                <!-- Contact item -->
                                {% if block.settings.address_title != blank or block.settings.address_content != blank %}
                                    <div class="ic-contact-item">
                                        <h6 class="ic-contact-title">{{ block.settings.address_title }}</h6>
                                        <p class="ic-contact-info"> {{ block.settings.address_content }}</p>
                                    </div>
                                {% endif %}
            
                                <!-- Contact item -->
                                {% if block.settings.email_title != blank or block.settings.email_content != blank %}
                                    <div class="ic-contact-item">
                                        <h6 class="ic-contact-title">{{ block.settings.email_title }}</h6>
                                        <p class="ic-contact-info"> <a href="mailto:{{ block.settings.email_content }}">{{ block.settings.email_content }}</a></p>
                                    </div>
                                {% endif %}
                  
                                <!-- Contact item -->
                                {% if block.settings.phone_title != blank or block.settings.phone_content != blank %}
                                    <div class="ic-contact-item">
                                        <h6 class="ic-contact-title">{{ block.settings.phone_title }}</h6>
                                        <p class="ic-contact-info"> <a href="tel:{{ block.settings.phone_content }}">{{ block.settings.phone_content }}</a></p>
                                    </div>
                                {% endif %}
            
                                <!-- Contact item -->
                                {% if block.settings.emergency_title != blank or block.settings.emergency_content != blank %}
                                    <div class="ic-contact-item ic-emergency">
                                        <h6 class="ic-contact-title">{{ block.settings.emergency_title }}</h6>
                                        <p class="ic-contact-info"><a href="tel:{{ block.settings.emergency_content }}">Call: {{ block.settings.emergency_content }}</a></p>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% when 'contact_form' %}
                        <div class="col-lg-6 col-md-12">
                            <!-- Contact Form -->
                            <div class="ic-contact-form-main wow fadeInLeft" data-wow-delay="0.2s">
                                {% if block.settings.form_title != blank %}
                                    <h3 class="ic-contact-form-title">{{ block.settings.form_title }}</h3>
                                {% endif %}
                                {% form 'contact', class:'ic-contact-form' %}
                                    {% if form.posted_successfully? %}
                                        <p class="form-message">Your message has been sent successfully.</p>
                                    {% elsif form.errors %}
                                        {{ form.errors | default_errors }}
                                    {% endif %}
                                    
                                    <div class="ic-form-row">
                                        <div class="col-12 col-lg-6">
                                            <input type="text" name="contact[first_name]" placeholder="First Name" class="ic-form-control" required>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <input type="text" name="contact[last_name]" placeholder="Last Name" class="ic-form-control" required>
                                        </div>
                                    </div>
                                    <div class="ic-form-row">
                                        <div class="col-12 col-lg-6">
                                            <input type="email" name="contact[email]" placeholder="Email Address" class="ic-form-control" required>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <input type="text" name="contact[phone]" placeholder="Phone" class="ic-form-control" required>
                                        </div>
                                    </div>
                                    <input type="text" name="note[subject]" placeholder="Subject" class="ic-form-control">
                                    <textarea placeholder="Write Something Here" name="contact[body]" class="ic-form-control" rows="3"></textarea>
                                    <button type="submit" class="ic-custom-btn-rvs">Send Now</button>
                                {% endform %}
                                <p class="form-message"></p>
                            </div>
                        </div>
                {% endcase %}
            {% endfor %}
          
        </div>
    </div>
</section>
<!-- Contact section start here -->

{% schema %}
    {
        "name": "Contact",
      
        "blocks": [
            {
                "name": "Contact Map",
                "type": "contact_map",
                "settings": [
                    {
                        "type": "html",
                        "id": "map",
                        "label": "Map url"
                    }
                ]
            },
            {
                "name": "Contact Details",
                "type": "contact_details",
                "settings": [
                    {
                        "type": "text",
                        "id": "contact_title",
                        "label": "Contact Title"
                    },
                    {
                        "type": "text",
                        "id": "address_title",
                        "label": "Address Title"
                    },
                    {
                        "type": "textarea",
                        "id": "address_content",
                        "label": "Address"
                    },
                    {
                        "type": "text",
                        "id": "email_title",
                        "label": "Email Title"
                    },
                    {
                        "type": "text",
                        "id": "email_content",
                        "label": "Email"
                    },
                    {
                        "type": "text",
                        "id": "phone_title",
                        "label": "Phone Title"
                    },
                    {
                        "type": "text",
                        "id": "phone_content",
                        "label": "Phone number"
                    },
                    {
                        "type": "text",
                        "id": "emergency_title",
                        "label": "Emergency Title"
                    },
                    {
                        "type": "text",
                        "id": "emergency_content",
                        "label": "Emergency number"
                    }
                    
                ]
            },
            {
                "name": "Contact Form",
                "type": "contact_form",
                "settings": [
                    {
                        "type": "text",
                        "id": "form_title",
                        "label": "Form Title"
                    }
                ]
            }
        ]
    }
{% endschema %}
