
    <!-- Product single section start here-->
    <section class="ic-product-single ic-padding-bottom">

        <!-- Product single top -->
        <div class="ic-product-single-top ic-section-bg">
            <div class="container">
                <div class="row align-items-center ic-flex-md-column-reverse">
                    <div class="col-lg-6 col-md-12">
                        <div class="ic-product-single-content">
                            <div class="ic-product-item-dec">
                                <ul>
                                    {% for block in section.blocks %}
                                        {% case block.type %}
                                            {% when 'displacement' %}
                                                <li>{{ block.settings.displacement }}</li>
                                            {% when 'transmission' %}
                                                <li>{{ block.settings.transmission }}</li>
                                            {% when 'year' %}
                                                <li>{{ block.settings.year }}</li>
                                            {% else %}
                                        {% endcase %}
                                    {% endfor %}
                                </ul>
                            </div>
                           
                            {% for block in section.blocks %}
                                {% case block.type %}
                                    {% when 'title' %}
                                        <h3 class="ic-product-item-title">{{ product.title }}</h3>
                                    {% when 'price' %}
                                        <h4 class="ic-product-item-price">
                                            {% if product.compare_at_price > product.price %}
                                                <del>{{ product.compare_at_price | money }}</del> {{ product.price | money }}
                                            {% else %}
                                                {{ product.price | money }}
                                            {% endif %}
                                        </h4>
                                    {% when 'excerpt' %}
                                        {% if product.description != blank %}
                                            <p>{{ product.description | truncatewords: 30  }}</p>
                                        {% endif %}
                                    {% when 'description' %}
                                {% endcase %}
                            {% endfor %}
                            
                            {% form 'product', product, id:'product-form', novalidate: 'novalidate' %}
                                <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                                <div class="ic-product-short-specification">

                                   {% for variant in product.variants %}
                                        <ul class="ic-specification-list {% if forloop.index == 1 %}show{% endif %}" id="{{ variant.id }}">
                                            {% for block in section.blocks %}
                                                {% case block.type %}
                                                    {% when 'availability' %}
                                                        <li><span>Availability:</span>
                                                            {% if product.available %}
                                                                {{ variant.inventory_quantity }} items
                                                            {% endif %}
                                                        </li>
                                                    {% when 'sku' %}
                                                        <li><span>SKU:</span>
                                                            {% if variant.sku != blank %}
                                                                {{ variant.sku }}
                                                            {% else %}
                                                                <span>Not set yet</span>
                                                            {% endif %}
                                                        </li>
                                                    {% when 'type' %}
                                                        {% if product.type != blank %}
                                                            <li><span>Product type: </span>{{ product.type }}</li>
                                                        {% endif %}
                                                    {% when 'vendor' %}
                                                        {% if product.vendor != blank %}
                                                            <li><span>Vendor: </span>{{ product.vendor }}</li>
                                                        {% endif %}
                                                    {% else %}
                                                        
                                                {% endcase %}
                                            {% endfor %}
                                        </ul>
                                   {% endfor %}
                                </div>
                                {% unless product.has_only_default_variant %}
                                   
                                    {% for option in product.options_with_values %}
                                        <div class="ic-product-opt">
                                            <div class="ic-product-opt-title">{{ option.name }}</div>
                                            <div class="ic-product-opt-col">
                                                <ul class="ic-opts-list ic-opts-{{ option.name }} ms-0">
                                                    {% for value in option.values %}
                                                        <li>
                                                            <input type="radio" 
                                                                {% if option.selected_value == value %}checked{% endif %} 
                                                                name="{{ option.name }}"
                                                                value="{{ value  }}"
                                                                id="{{ option.name | handleize}}-{{ value | handleize }}"
                                                            >
                                                        <label for="{{ option.name | handleize}}-{{ value | handleize }}"> {{ value }}</label>
                                                            {% comment %} <div class="ic-product-color" style="background-color: {{ value.name | downcase }}"></div> {% endcomment %}
                                                        </li>
                                                    {% endfor %}
                                                    <script>
                                                        var product = {{ product | json }}
                                                    </script>
                                                </ul>
                                            </div>
                                        </div>
                                    {% endfor %}
                                  
                                {% endunless %}
                             
                                <div class="ic-single-action-btns">
                                    <div class="ic-quantity">
                                        <div class="ic-quantity-button ic-quantity-down"><i class="icofont icofont-minus"></i></div>
                                        <input type="number" name="quantity" min="1" step="1" value="1">
                                        <div class="ic-quantity-button ic-quantity-up" id="plus"><i class="icofont icofont-plus"></i></div>
                                    </div>
                                    <button type="submit" id="addToCart" class="ic-product-addcart ic-custom-btn-rvs ic-btn-sm">Add to cart</button>
                                    <a class="ic-product-wishlist" title="Wishlist" href="#"><i class="icofont icofont-heart"></i></a>
                                </div>
                            {% endform %}
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="ic-product-thumbnail">
                            <img src="{{ product.featured_image | img_url: "1920x" }}" class="w-100" alt="product-thumbnail">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ic-product-tabs">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Product nav tab -->
                        <ul class="nav ic-product-nav-tabs d-none d-lg-flex" role="tablist">
                            {% for block in section.blocks %}
                                {% case block.type %}
                                    {% when 'description' %}
                                        <li class="nav-item">
                                            <a class="nav-link active" data-bs-toggle="tab" href="#product-desc" role="tab" aria-controls="product-desc" aria-selected="true">Description</a>
                                        </li>
                                    {% when 'specifications' %}
                                        <li class="nav-item">
                                            <a class="nav-link" data-bs-toggle="tab" href="#specification" role="tab" aria-controls="specification" aria-selected="false">Specifications</a>
                                        </li>
                                    {% when 'features_benifites' %}
                                        <li class="nav-item">
                                            <a class="nav-link" data-bs-toggle="tab" href="#features" role="tab" aria-controls="features" aria-selected="false">Features Benifites</a>
                                        </li>
                                    {% when 'review' %}
                                        <li class="nav-item">
                                            <a class="nav-link" data-bs-toggle="tab" href="#review" role="tab" aria-controls="review" aria-selected="false">Review</a>
                                        </li>
                                    {% else %}
                                {% endcase %}
                            {% endfor %}
                        </ul>
                        <div class="ic-mobile-select-dropdown-wrap">
                            <ul class="nav ic-product-nav-tabs ic-mobile-select-dropdown" role="tablist">
                                {% for block in section.blocks %}
                                    {% case block.type %}
                                        {% when 'description' %}
                                            <li class="nav-item">
                                                <a class="nav-link active" data-bs-toggle="tab" href="#product-desc" role="tab" aria-controls="product-desc" aria-selected="true">Description</a>
                                            </li>
                                        {% when 'specifications' %}
                                            <li class="nav-item">
                                                <a class="nav-link" data-bs-toggle="tab" href="#specification" role="tab" aria-controls="specification" aria-selected="false">Specifications</a>
                                            </li>
                                        {% when 'features_benifites' %}
                                            <li class="nav-item">
                                                <a class="nav-link" data-bs-toggle="tab" href="#features" role="tab" aria-controls="features" aria-selected="false">Features Benifites</a>
                                            </li>
                                        {% when 'review' %}
                                            <li class="nav-item">
                                                <a class="nav-link" data-bs-toggle="tab" href="#review" role="tab" aria-controls="review" aria-selected="false">Review</a>
                                            </li>
                                        {% else %}
                                    {% endcase %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="tab-content" id="ic-product-tab-content">
                            {% for block in section.blocks %}
                                {% case block.type %}
                                    {% when 'description' %}
                                        <!-- Product description -->
                                        <div class="tab-pane fade show active" id="product-desc" role="tabpanel">
                                            <div class="ic-product-desc">
                                                {{ product.description}}
                                            </div>
                                        </div>
                                    {% when 'specifications' %}
                                        <!-- Product specification -->
                                        <div class="tab-pane fade" id="specification" role="tabpanel">
                                            <div class="ic-spec">
                                                {% if block.settings.check_engine_transmission != false %}
                                                    <div class="ic-spec-section">
                                                        <h4 class="ic-spec-section-title">Engine and Transmission</h4>
                                                        
                                                        {% if block.settings.engine_type != blank %}
                                                            <div class="ic-spec-row">
                                                                <div class="ic-spec-name">Engine Type</div>
                                                                <div class="ic-spec-value">{{ block.settings.engine_type }}</div>
                                                            </div>
                                                        {% endif %}
                                                        {% if block.settings.displacement != blank %}
                                                            <div class="ic-spec-row">
                                                                <div class="ic-spec-name">Displacement</div>
                                                                <div class="ic-spec-value">{{ block.settings.displacement }}</div>
                                                            </div>
                                                        {% endif %}
                                                        {% if block.settings.max_power != blank %}
                                                            <div class="ic-spec-row">
                                                                <div class="ic-spec-name">Max Power</div>
                                                                <div class="ic-spec-value">{{ block.settings.max_power }}</div>
                                                            </div>
                                                        {% endif %}
                                                        {% if block.settings.drive_type != blank %}
                                                            <div class="ic-spec-row">
                                                                <div class="ic-spec-name">Drive Type</div>
                                                                <div class="ic-spec-value">{{ block.settings.drive_type }}</div>
                                                            </div>
                                                        {% endif %}
                                                        {% if block.settings.transmission != blank %}
                                                            <div class="ic-spec-row">
                                                                <div class="ic-spec-name">Transmission</div>
                                                                <div class="ic-spec-value">{{ block.settings.transmission }}</div>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                {% endif %}
                                                {% if block.settings.dimensions != false %}
                                                    <div class="ic-spec-section">
                                                        <h4 class="ic-spec-section-title">Dimensions and Capacity</h4>
                                                        {% if block.settings.fuel_capacity != blank %}
                                                            <div class="ic-spec-row">
                                                                <div class="ic-spec-name">Fuel Capacity</div>
                                                                <div class="ic-spec-value">{{ block.settings.fuel_capacity }}</div>
                                                            </div>
                                                        {% endif %}
                                                        {% if block.settings.saddle_height != blank %}
                                                            <div class="ic-spec-row">
                                                                <div class="ic-spec-name">Saddle Height</div>
                                                                <div class="ic-spec-value">{{ block.settings.saddle_height }}</div>
                                                            </div>
                                                        {% endif %}
                                                        {% if block.settings.wheelbase != blank %}
                                                            <div class="ic-spec-row">
                                                                <div class="ic-spec-name">Wheelbase</div>
                                                                <div class="ic-spec-value">{{ block.settings.wheelbase }}</div>
                                                            </div>
                                                        {% endif %}
                                                        {% if block.settings.weight != blank %}
                                                            <div class="ic-spec-row">
                                                                <div class="ic-spec-name">Kerb Weight</div>
                                                                <div class="ic-spec-value">{{ block.settings.weight }}</div>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% when 'features_benifites' %}
                                        <!-- Product features -->
                                        <div class="tab-pane fade" id="features" role="tabpanel">
                                            <div class="ic-accordion" id="accordionExample">
                                                {% if block.settings.top_features != blank %}
                                                    <div class="card">
                                                        <div class="card-header" id="headingOne">
                                                            <h2 class="mb-0">
                                                                <button class="btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                                    top features
                                                                    <i class="icofont icofont-plus"></i>
                                                                    <i class="icofont icofont-minus"></i>
                                                                </button>
                                                            </h2>
                                                        </div>
                                                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                                            <div class="card-body">
                                                                {{ block.settings.top_features }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
            
                                                {% if block.settings.engine != blank %}
                                                    <div class="card">
                                                        <div class="card-header" id="headingTwo">
                                                            <h2 class="mb-0">
                                                                <button class="btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                                    engine
                                                                    <i class="icofont icofont-plus"></i>
                                                                    <i class="icofont icofont-minus"></i>
                                                                </button>
                                                            </h2>
                                                        </div>
                                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                                            <div class="card-body">
                                                                {{ block.settings.engine }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                {% if block.settings.chassis_suspension != blank %}
                                                    <div class="card">
                                                        <div class="card-header" id="headingThree">
                                                            <h2 class="mb-0">
                                                                <button class="btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                                    Chassis / suspension
                                                                    <i class="icofont icofont-plus"></i>
                                                                    <i class="icofont icofont-minus"></i>
                                                                </button>
                                                            </h2>
                                                        </div>
                                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                                            <div class="card-body">
                                                                {{ block.settings.chassis_suspension }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                {% if block.settings.additional_features != blank %}
                                                    <div class="card">
                                                        <div class="card-header" id="headingFour">
                                                            <h2 class="mb-0">
                                                                <button class="btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                                    Aditional Features
                                                                    <i class="icofont icofont-plus"></i>
                                                                    <i class="icofont icofont-minus"></i>
                                                                </button>
                                                            </h2>
                                                        </div>
                                                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                                                            <div class="card-body">
                                                                {{ block.settings.additional_features }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                {% if custom.electronics_content != blank %}
                                                    <div class="card">
                                                        <div class="card-header" id="headingFive">
                                                            <h2 class="mb-0">
                                                                <button class="btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                                                    Electronics
                                                                    <i class="icofont icofont-plus"></i>
                                                                    <i class="icofont icofont-minus"></i>
                                                                </button>
                                                            </h2>
                                                        </div>
                                                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                                                            <div class="card-body">
                                                               
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                
                                            </div>
                                        </div>
                                    {% when 'review' %}
                                   
                                        <!-- Product review -->
                                        <div class="tab-pane fade" id="review" role="tabpanel">
                                            <div class="ic-product-review">
                                                {{ block.settings.review_title }}
                                            </div>
                                        </div>
                                    {% else %}
                                {% endcase %}
                            {% endfor %}   

                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product single section end here-->


    {% schema %}
        {
            "name": "Product Information",
            "blocks": [
                {
                    "name": "Displacement",
                    "type": "displacement",
                    "limit": 1,
                    "settings": [
                        {
                            "type": "text",
                            "id": "displacement",
                            "label": "Displacement"
                        }
                    ]
                },
                {
                    "name": "Transmission",
                    "type": "transmission",
                    "limit": 1,
                    "settings": [
                        {
                            "type": "text",
                            "id": "transmission",
                            "label": "Transmission"
                        }
                    ]
                },
                {
                    "name": "Year",
                    "type": "year",
                    "limit": 1,
                    "settings": [
                        {
                            "type": "text",
                            "id": "year",
                            "label": "Year"
                        }
                    ]
                },
                {
                    "name": "Title",
                    "type": "title",
                    "limit": 1
                },
                {
                    "name": "Price",
                    "type": "price",
                    "limit": 1
                },
                {
                    "name": "Excerpt",
                    "type": "excerpt",
                    "limit": 1
                },
                {
                    "name": "Availability",
                    "type": "availability",
                    "limit": 1
                },
                {
                    "name": "SKU",
                    "type": "sku",
                    "limit": 1
                },
                {
                    "name": "Type",
                    "type": "type",
                    "limit": 1
                },
                {
                    "name": "Vendor",
                    "type": "vendor",
                    "limit": 1
                },
                {
                    "name": "Description",
                    "type": "description",
                    "limit": 1
                },
                {
                    "name": "Specifications",
                    "type": "specifications",
                    "limit": 1,
                    "settings": [
                        {
                            "type": "checkbox",
                            "id": "check_engine_transmission",
                            "label": "Engine and Transmission",
                            "default": true
                        },
                        {
                            "type": "text",
                            "id": "engine_type",
                            "label": "Engine Type"
                        },
                        {
                            "type": "text",
                            "id": "displacement",
                            "label": "Displacement"
                        },
                        {
                            "type": "text",
                            "id": "max_power",
                            "label": "Max Power"
                        },
                        {
                            "type": "text",
                            "id": "drive_type",
                            "label": "Drive Type"
                        },
                        {
                            "type": "text",
                            "id": "transmission",
                            "label": "Transmission"
                        },
                        {
                            "type": "checkbox",
                            "id": "dimensions",
                            "label": "Dimensions and Capacity",
                            "default": true
                        },
                        {
                            "type": "text",
                            "id": "fuel_capacity",
                            "label": "Fuel Capacity"
                        },
                        {
                            "type": "text",
                            "id": "saddle_height",
                            "label": "Saddle Height"
                        },
                        {
                            "type": "text",
                            "id": "wheelbase",
                            "label": "Wheelbase"
                        },
                        {
                            "type": "text",
                            "id": "weight",
                            "label": "Kerb Weight"
                        }
                    ]
                },
                {
                    "name": "Features Benifites",
                    "type": "features_benifites",
                    "limit": 1,
                    "settings": [
                        {
                            "type": "richtext",
                            "id": "top_features",
                            "label": "Top Features"
                        },
                        {
                            "type": "richtext",
                            "id": "engine",
                            "label": "Engine"
                        },
                        {
                            "type": "richtext",
                            "id": "chassis_suspension",
                            "label": "Chassis / Suspension"
                        },
                        {
                            "type": "richtext",
                            "id": "additional_features",
                            "label": "Additional Features"
                        }
                    ]
                },
                {
                    "name": "Review Widget",
                    "type": "review",
                    "settings": [
                        {
                            "type": "richtext",
                            "id": "review_title",
                            "label": "Review Title"
                        }
                    ]
                }
            ]
        }
    {% endschema %}
